{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="container py-5">
    <h1 class="mb-3 text-center">Rejestracja</h1>

    {% form_theme registrationForm 'bootstrap_4_layout.html.twig' %}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.plainPassword) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn btn-primary my-3">Załóż konto</button>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}
